/*****  Colors used  ****/
/*  body 
    background-color: #eee
    list-items: #444 
    #register border-color: black
    .button border-color: black
    .button background-color: black
    .button color: white
    .headline-para color: #444
*/


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    width: 98vw;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    text-transform: capitalize;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    cursor: pointer;
}

.list-items, .headline-para {
    color: #444;
}

.features-icon {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.arrow-btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f2f2f2;
    border: none;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

#features-arrow-btn,
#company-arrow-btn {
    background-image: url('/images/icon-arrow-down.svg');
}

#register {
    border: solid #444 1.5px;
    border-radius: 20px;
    padding: 5px;
    margin-top: -5px;
}



/****** Desktop media *******/
@media screen and (min-width: 800px){
   
   /*********   Navigation style ********/
    .mobile {
        display: none;
    }

    nav {
        font-weight: 500;
        width: 100%;
        height: 1em;
        margin: 1.5em 0em;
    }
    
    .logo {
        font-weight: 500;
        float: left;
        margin-left: 2%;
    }

    #main-list-items .list-items {
        display: inline;
        float: left;
        position: relative;
        margin-left: 2em;
    }

    .sub-menu {
        position: absolute;
        border: solid rgba(100,100,100,.2) 2px;
        border-radius: 10px;
        margin-top: 1rem;
        display: none;  
    }

    .sub-menu, .sub-menu li {
        background-color: #fff;        
    }

    .sub-menu li {
        position: relative;
        margin-top: 10px;
        font-size: 14px;
    }
    
    .features-dropdown {
        margin-left: -3.5em; 
        width: 8em;
    }

    .features-dropdown li {
        margin: 10px 20px;
    }

    .features-dropdown img {
        margin: 0px 5px;
    }


    .company-dropdown {
        width: 6em;
        height: 6em;
        width: 6.5em;
    }

    .company-li {
        text-align: left;
    }

    .company-li a {
        margin-left: 25%;
    }

    .login-register {
        float: right;
    }


    #register a {
        padding: 1em;
    }



    /******** Main body *************/

    .container {
        clear: both;
        display: block;  
        margin: 0px 20px;
        padding: 40px; 
    }

    .article {
        display: block;
        float: left;
        width: 40%;
        margin-top: 40px;
        margin-left: 10%;
    }

    .headline {
        width: 100%;
        font-weight: 700;
        font-size: 3.5em;
        margin: 0.6em 0em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .headline-para {
        width: 90%;
        margin-bottom: 40px;
        line-height: 1.5em;
    }

    .button {
        width: 40%;
        height: 20%;
        padding: 1em 2em;
        border: 1px solid black;
        border-radius: 15px;
        background-color: black;
        color: white;
    }
    
    .hero {
        display: block;
        float: right;
        width: 45%;
        margin-bottom: 40px;
    }

    .hero-image {
        width: 85%;
        height: 85%;
        float: right;
    }

    .client-names {
        float: left;
        width: 45%;
        margin-top: 120px;
        margin-left: 100px;
    }

    .client-names a {
        margin-right: 30px;
    }

    .attribution {
        display: block;
        clear: both;
        float: right;
        margin-right: 10%;
        margin-bottom: 1.5em;
    }

}

/************** Mobile devices with width less than 800px **********/
@media screen and (max-width: 799px){
    

    *, body, .navigation {
        margin: 0;
        padding: 0;
    }
    
    /********** navigation *******************/

    nav {
        margin-top: 1.5em;
    }

    .logo {
        display: block;
        float: left;
        margin-left: 1em;
    }

    #menu-icon {
        display: block;
        float: right;
        margin-right: 1em;
    }

    .side-menu {
        display: none;
        position: fixed;
        height: 100vh;
        width: 50vw;
        visibility: visible;
        right: 0;
        top: 0;
        background-color: #f2f2f2;
    }

    #close-menu-btn {
        float: right;
        margin-right: 10%;
        margin-top: 15px;
    }

    .nav-lists {
        margin-top: 80px;
        margin-left: 25px;
    }

    .nav-lists li {
        margin-top: 15px;
    }

    .sub-menu {
        position: relative;
        display: none;
    }

    .features-li, .company-li {
        margin-left: 25px;
    }

    .login-register {
        text-align: center;
        margin-top: 2.5em;
    }

    #register {
        margin-top: 10px;
    }


    /******************* Main **************/
    .desktop {
        display: none;
    }
    .headline {
        margin-top: 30px;
        font-size: 30px;
        grid-area: headline;
    }

    .headline-para {
        margin-top: 20px;
        padding: 0px 5px;
        grid-area: headline-para
    }

    .hero {
        margin-top: 20px;
        grid-area: hero;
    }

    .container {
        clear: both;
        display: grid;
        grid-template-areas:
         'hero '
         'headline'
         'headline-para';
        text-align: center;
    }  

    .hero-image {
        width: 100vw; 
    }

    #learn-more-btn {
        margin-top: 20px;
        height: 35px;
        width: 100px;
        color: #fff;
        background-color: #000;
        border: none;
        border-radius: 10px;
    }

    .attribution {
        margin-top: 30px;
        text-align: center;
    }

}

