/*****  Colors used  ****/
/*  body 
    background-color: #eee
    list-items: #444 
    #register border-color: black
    .button border-color: black
    .button background-color: black
    .button color: white
    .headline-para color: #444
*/


* {
    margin: 0;
    padding: 0;
    background-color: #eee;

}

nav {
    margin: 2em 1em;
}

ul {
    list-style: none;
}
 
.list-items, .headline-para, .sub-menu {
    color: #444;
}



/****** Desktop media *******/
@media screen and (min-width: 800px){
   
   /*********   Navigation style ********/
    .mobile {
        display: none;
    }

    .logo-main-list {
        float: left;
        display: flex;
        flex-direction: row;
    }
    
    .login-register-list {
        display: flex;
        flex-direction: row;
        float: right;
    }
    
    

    #main-list-items {
        margin-left: 1em;
        font-weight: 500;
    }

    .list-items {
        display: inline;
        margin-left: 2.5em;
    }


    #register {
        padding: 0.5em 1em;
        border: solid black 0.1em;
        border-radius: 20px;

    }
    
    .sub-menu {
        display: none;
    }

    .featured-dropdown, .company-dropdown {
        box-shadow: #555 0px 0px 5px 2px;
    }
    
    .container {
        clear: both;
        display: grid;
        grid-template-columns: 40% 50%;
        column-gap: 10%;  
        margin: 5em 8em; 
    }

    .article {
        margin-top: 5em;
    }

    .headline {
        font-weight: 700;
        font-size: 4em;
        margin: 0.6em 0em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .headline-para {
        font-weight: 500;
        font-size: 18px;
        width: 90%;
        margin-bottom: 2em;
    }

    .button {
        padding: 1em 2em;
        border: 1px solid black;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
    
    .hero {
        margin-top: 2.5em;
        margin-right: 5%;
        margin-left: 10%;
    }

    .hero-image {
        width: 25em;
        
    }

    .attribution {
        display: block;
        clear: both;
        float: right;
        margin-right: 10%;
        margin-bottom: 1.5em;
    }

}

/************** Mobile devices with width less than 800px **********/
@media screen and (max-width: 799px){
    .desktop{
        display: none;
    }
}

